<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User All Bookings</title>
    <link rel="stylesheet" href="/css/userRailwayBookings.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/booking">Home</a></li>
            <li><a href="/userbookings">Your Bus Ticket Bookings</a></li>
            <li><a href="/userRailwayBookings">Train Ticket Bookings</a></li>
            <li><a href="/userTaxibookings">Taxi Ticket Bookings</a></li>
            <li><a href="/railway">Go Back</a></li>
            <li><a href="/instructions" data-instructions="Your instructions here">Instructions</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>

    <div id="username"></div>

    <h1 style="color: green;">Discover Your Train Reservations</h1>

    <div id="bookings-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="/public/js/userRailwayBookings.js"></script>
</body>

</html>
