/* /public/styles.css */
 

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}

#results {
    width: 80%;
    margin-top: 20px;
}

h3 {
    color: #333;
}
